body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fafafa;
  background-color: #333;
}

h1 {
  font-size: 3em;
}

h2  {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: #fafafa;
}

.figure-image {
  display: flex;
}

.description {
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
}